@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600;700&display=swap');
  body {
    font-family: 'Fira Code', monospace;
    background-color: #fff;
  }
  #head {
    margin-bottom: 15px;
    font-size: 18px;
  }
  #result {
    margin-top: 10px;
  }


